/** Main layout **/

html, body {
    background: #FAEBD7 !important;
    font-family: Helvetica, Arial, Sans !important;
    color: black;
}

body {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

/** Blog header **/

#header {
    position: relative;
    border: 0 none;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

#logo {
    display: block;
    height: 49px;
    color: #faebd7;
    background: #8B0000;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: -4px;
    text-shadow: 1px 2px 2px #000;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#logo span {
    color: #f00;
    font-size: 70%;
}

#tools {
    list-style: none;
    position: absolute;
	top: 25px;
    right: 20px;
    margin-top: 20px;
}

#tools a {
    color: #faebd7;
    text-decoration: none;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    padding: 2px;
}

#title {
    background: black;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 300px;
    padding: 20px 30px 20px 20px;
    color: #FAEBD7;
    position: relative;
	border-radius: 10px;
    -webkit-border-radius: 16px;
    -webkit-box-shadow: 0 2px 0 #93A045;
    -moz-border-radius: 16px;
}

/** A little hacky to create arrows without images **/
.about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid black;
	border-top: 0;
	position: absolute;
	top: -10px;
	left: 60px;
}

#title h1 {
    font-size: 50px;
    margin: 0;
}

#title h1 a {
    text-decoration: none;
    color: inherit;
}

#title h2 {
    font-size: 26px;
    margin: 0;
    font-weight: normal;
}

/** Main content **/

#main {
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 25px;
}

/** Advice **/

.Advice {
	border-radius: 10px;
    background: #8B0000;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.Advice .Advice-title {
    margin: 0;
    padding-top: 10px;
    padding-right: 0px;
    font-size: 36px;
    color: #FAEBD7;
    text-decoration: none;
    display: inline-block;
    margin-right: 100px;
    margin-top: 5px;
}

a {
    color: #faebd7;
    text-decoration:underline;
}

.Advice .Advice-metadata {
    color: black;
    display: block;
    font-size: 70%;
}

.Advice .Advice-author {
    font-size: 130%;
    font-weight: bold;
}

.Advice .Advice-metadata a {
    color: #9FA85D;
}

.Advice .Advice-content {
    position: relative;
    background: #FAEBD7;
    padding: 5px;
    margin-top: 10px;
    margin-right: 350px;
	border-radius: 10px;
}

.Advice .about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-left: 10px solid transparent; 
	border-right: 10px solid transparent;
	border-bottom: 10px solid #faebd7;
	border-top: 0;
	position: absolute;
	top: -6px;
	left: 24px;
}

.Advice .mark {
    color : #faebd7;
    display : block;
    padding: 10px;
    margin: 0px 0 10px 0;
    font-size: 85%;
    font-weight: bold;
}

.Advice .Advice-tags {
	position: relative;
    color: black;
}

span a {
    font-size: 20px;
    color: #869ab1;
}

/** Older Advices **/
.older-Advices h3 {
    font-size: 28px;
    margin-bottom: 5px;
}

.Advice-teaser {
	background: #8b0000;
	border-radius: 10px;
	padding-left: 10px;
}

.older-Advices h3 .from {
    font-weight: normal;
    font-size: 70%;
}

.older-Advices .Advice-title {
	margin: 0;
}

.older-Advices .Advice {
    padding-left: 10px;
}

.older-Advices .Advice-title a {
    padding: 0;
    font-size: 20px;
}

.older-Advices .Advice-metadata {
    color: black;
    padding: 0;
    font-size: 12px;
    margin-bottom: 5px;
}

/** Comments **/

.comments {
    padding-bottom: 15px;
    background: #8b0000;
    border-radius: 10px;
    color: #faebd7; 
}

.comments h3 {
	padding-top: 10px;
	margin-left: 15px;
}

h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

h3 span {
    font-size: 80%;
    font-weight: normal;
}

.comment {
    width: 70%;
    clear: both;
}

.comment .comment-metadata {
    display: block;
    font-size: 50%;
    display: block;
    float: left;
    width: 80px;
    text-align: right;
}

.comment .comment-author {
    font-size: 150%;
    font-weight: bold;
    display: block;
}

.comment .comment-content {
    position: relative;
    background: white;
    color: black;
    font-size: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.comment .about {
    text-indent: -999em;
    display: block;
    width: 0; 
    height: 0; 
	border-top: 10px solid transparent; 
	border-bottom: 10px solid transparent;
	border-right: 10px solid white;
	border-left: 0;
	position: absolute;
	top: 4px;
	left: -4px;
}

/** Form **/

form {
    padding: 10px;
    background: #8b0000;
    border-radius: 10px;
}

form .error {
    background: #c00;
    color: #fff;
    font-size: 90%;
    padding: 3px 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #800;
}

form p {
    margin: 5px 0 0 0;
}

form textarea {
    width: 70%;
    height: 150px;
}

form input, form textarea {
    font-size: 14px;
}

form label {
    display: block;
    font-weight: bold;
    font-size: 90%;
    color: #aaa;
    margin-bottom: 3px;
}

/** rating form **/
.rating {
    display: block;
    padding: 10px;
    margin: 0px 50px 10px 5px;
}

#captcha{
    display: block;
    height: 50px;  
}

.success {
    background: #67AD10;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 #4E840B; 
}

/** Pagination **/
#pagination {
	padding: 0px;
	margin: 0px;
    list-style: none;
    font-size: 90%;
    position: relative;
}

#pagination a {
    color: #869AB1;
    font-size: 90%;
}

#pagination #previous {
    position: absolute;
    left: 0;
}

#pagination #previous:before {
    content: '<< ';
}

#pagination #next {
    position: absolute;
    top: 0;
    right: 0;
}

#pagination #next:after {
    content: ' >>';
}

/** Footer **/

#footer {
    border-top: 1px solid #45597A;
    font-size: 70%;
    padding: 10px 30px;
    text-align: center;
    color: #869AB1;
    margin-top: 30px;
}

#footer a {
    color: #869AB1;
    font-weight: bold;
}

/** Admin **/

.tags-list .tag {
    cursor: pointer;
    color: red;
}

#adminMenu {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

#adminMenu li {
    display: inline;
}

#adminMenu li a {
    color: #fff;
    text-decoration: none;
    font-size: 80%;
    background: #591C64;
    padding: 2px 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
}

#adminMenu li.selected a {
    background: #82A346;
}

#crudContent {
    color: #8B98AD;
}

#crudContent h2 {
    color: #EDC3CD !important;
}

#crudContent thead tr {
    background: #512162 !important;
}

#crudContent table {
    border: none !important;
}

#crudContent table td {
    color: #444;
}

tr.odd {
    background: #BECCE7 !important;
}

#crud #crudContent, #crudContent form, #crudListSearch, #crudListPagination, .crudButtons {
    background: transparent;
    border: none;
    padding: 0;
}

#crudListTable {
    margin: 10px 0;
}

.crudField, .objectForm {
    border: none;
    padding-left: 0;
}

.crudField label {
    color: #B8FA5C;
}

.crudHelp {
    color: #fff !important;
}

.crudField .tag {
    color: #111;
    font-size: 80%;
}

.crudButtons input {
    font-size: 110%;
}

.crudButtons {
    margin-top: 20px;
    border-top: 1px dotted #8B98AD;
    padding-top: 10px;
}

.crudFlash {
    border: 0;
    -webkit-border-radius: 8px;
    font-size: 80%;
    padding: 2px 10px;
}

.crudField .tag.selected {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.crudField .error {
    background: transparent;
    border: none;
    padding: 0;
    color: pink;
    -webkit-box-shadow: none;
}

/** Login **/

#login form {
    background: #8B98AD !important;
    border: 0 !important;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
}

#login label, #password-field label, #username-field label {
    color: #161D28 !important;
    font-size: 110% !important;
}


#remember-field {
    display: none;
}

/** My Advices **/

#admin .Advice {
    background: #fff;
    padding: 4px;
    margin: 0;
    font-size: 90%;
}

#admin .Advice.odd {
    background: #C0CBE5;
}

#admin .Advice a {
    color: #444;
}

#newAdvice {
    border-top: 1px dotted #C0CBE5;
    padding-top: 15px;
}

#newAdvice a {
    background: #C88116;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 5px 10px;
    font-size: 80%;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

#newAdvice a span {
    background: #7D510E;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 0 5px 2px 5px;
    position: relative;
    top: -1px;
}

#AdviceContent {
    width: 100%;
    height: 300px;
}

.hasError {
    background: pink;
}
