#{extends 'main.html' /}
#{set title:'Home' /}
 
#{if frontAdvice}
    
    #{display advice:frontAdvice, as:'home' /}
    
    #{if olderAdvices.size()}
    
        <div class="older-Advices">
            <h3>Older advices <span class="from">from this blog</span></h3>
        
            #{list items:olderAdvices, as:'oldAdvice'}
              #{display advice:oldAdvice, as:'teaser' /}

            #{/list}
        </div>
        
    #{/if}
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}