#{extends 'main.html' /}
#{set title:'Home' /}
#{set user:user /}

#{if frontAdvice}

    #{display advice:frontAdvice, as:'home' /}
    
    #{if olderAdvices.size()}
    
        <div class="older-Advices">
            <h3>Older advices <span class="from">from this blog</span></h3>
        
            #{list items:olderAdvices, as:'oldAdvice'}
              #{display advice:oldAdvice, as:'teaser' /}

            #{/list}
        </div>
        
    #{/if}
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}

<script type="text/javascript" charset="utf-8">
    $(function() {
      // Expose the form
      $('form').click(function() {
                      $('form').expose({api: true}).load();
                      });
      
      // If there is an error, focus to form
      if($('form .error').size()) {
      $('form').expose({api: true, loadSpeed: 0}).load();
      $('form input[type=text]').get(0).focus();
      }
      });
</script>