#{extends 'main.html' /}
#{set title:'sign-up' /}

<ul id="parameters">
  #{form @Application.newMember()}
  <li id="email">
    <label for="email">Email: </label>
    <input type="email" name="email" id="email" value="${params.email}" />
    
  </li>
  <li id="fullName">
    <label for="fullName">Full name: </label>
    <input type="text" name="fullName" id="fullName" value="${params.fullName}" />
  </li>
  <li id="password">
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" value="${params.password}" />
  </li>
  <li id="confirm">
    <label for="confirm">Confirm your password: </label>
    <input type="password" name="confirm" id="confirm" value="${params.confirm}" />
  </li>
  <li id="admin">
    <label for="admin">Admin account ? </label>
    <input type="checkbox" value="${params.admin}">
  </li>
  
  <li id="valid">
    <input type="submit" value="Sign up!"/>
  </li>
  #{/form}
</ul>
