*{ Display a Advice in one of these modes: 'full', 'home' or 'teaser' }*
 
<div class="Advice${_as == 'teaser' ? '-teaser' : ''}">
	#{if _as != 'home'}
		#{if _as != 'teaser'}
			<ul id="pagination">
			  	#{if _advice.previous()}
		  			<li id="previous">
		    			<a href="@{Application.show(_advice.previous().id)}">
		      			${_advice.previous().title}
		    			</a>
		  			</li>
				#{/if}
		  		#{if _advice.next()}
			  		<li id="next">
			    		<a href="@{Application.show(_advice.next().id)}">
			      		${_advice.next().title}
			    		</a>
			  		</li>
		  		#{/if}
			</ul>
		#{/if}
	#{/if}
	<h2 class="Advice-title">
        <a href="@{Application.show(_advice.id)}">${_advice.title}</a>
    </h2>
    <span class="Advice-tags">
      - Tagged 
      #{list items:_advice.tags, as:'tag'}
      <a href="@{Application.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
	  #{/list}
    </span>
    <div class="Advice-metadata">
        <span class="Advice-author">by ${_advice.author.fullname}</span>,
        <span class="Advice-date">${_advice.postedAt.format('dd MMM yy')}</span>
        #{if _as != 'full'}
            <span class="Advice-comments">
                &nbsp;|&nbsp; ${_advice.comments.size() ?: 'no'} 
                comment${_advice.comments.size().pluralize()}
                #{if _advice.comments}
                    , latest by ${_advice.comments[-1].author}
                #{/if}
            </span>
        #{/if}
    </div>
    #{if _as != 'teaser'}
        <div class="Advice-content">
            <div class="about">Detail: </div>
            ${_advice.content.nl2br()}
        </div>
        <div class="mark">
            
          General review : ${_advice.mark.nl2br()}/10
        </div>
    #{/if}
</div>
 
#{if _as == 'full'}    
    <div class="comments">
        <h3>
            ${_advice.comments.size() ?: 'no'} 
            comment${_advice.comments.size().pluralize()}
        </h3>
        
        #{list items:_advice.comments, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by ${comment.author},</span>
                    <span class="comment-date">
                        ${comment.postedAt.format('dd MMM yy')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
        #{/list}
        
    </div>
#{/if}


